<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1630943_7aybebddp69.css">
    <link rel="stylesheet" href="./css/element.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app" v-cloak>
        <header class="header">
            <div class="header-content">
                <div class="header-title">War3Api</div>
                <form class="search" @submit.prevent>
                    <el-autocomplete
                        class="search-input"
                        type="search"
                        v-model="keyword"
                        ref="search"
                        clearable
                        select-when-unmatched
                        :class="{ focus: isFocus }"
                        :maxlength="50"
                        :fetch-suggestions="querySearch"
                        :trigger-on-focus="false"
                        @focus="handleFocus"
                        @blur="handleBlur"
                        @select="handleSelect"
                    >
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-autocomplete>
                </form>
            </div>
        </header>
        <div class="main">
            <ul
                class="container"
                v-infinite-scroll="loadMoreData"
                :infinite-scroll-distance="200"
                infinite-scroll-disabled="noMore"
            >
                <li
                    v-for="item in list"
                    :key="item.nameUS"
                    class="card"
                >
                    <div class="card-btns">
                        <el-tooltip effect="dark" content="收藏" placement="top" v-if="!isStar(item)">
                            <i class="el-icon-star-off" @click="handleStar(item)"></i>
                        </el-tooltip>
                        <el-tooltip effect="dark" content="已收藏" placement="top" v-else>
                            <i class="el-icon-star-on" @click="handleStar(item)"></i>
                        </el-tooltip>
                    </div>
                    <h3 class="card-title" v-if="item.title">
                        {{ item.title }}
                        <i class="iconfont card-title-icon" :class="getIcon(item)"></i>
                    </h3>
                    <h4 class="card-sub" v-if="item.nameUS">{{ item.nameUS }}</h4>
                    <div class="card-info">
                        <p v-if="item.description">{{ item.description }}</p>
                        <p v-if="item.comment">{{ item.comment }}</p>
                        <p>
                            <el-tag size="small" v-if="item.nameUS.includes('Dz')">魔兽官方对战平台 API</el-tag>
                            <el-tag size="small" v-if="item.usPath.includes('YDWE')">YDWE API</el-tag>
                            <el-tag size="small" v-if="item.category">{{ item.category }}</el-tag>
                            <el-tag size="small">{{ item.usPath }}</el-tag>
                        </p>
                    </div>
                    <div class="code" v-html="getCode(item)"></div>
                </li>
                <li v-if="noMore" class="no-more">没有更多了...</li>
            </ul>
        </div>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/element.js"></script>
    <script src="./js/War3Api.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>